PORT=4000
NODE_ENV=development
WEB_URL="http://localhost:3001"
CORE_URL="http://localhost:4101"
HOTELS_URL="http://localhost:4102"
BOOKING_URL="http://localhost:4103"
TRANSPORT_URL="http://localhost:4104"
