PORT=4103
NODE_ENV=development
DATABASE_URL="postgresql://reserva:reserva@localhost:55432/reserva?schema=booking"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="changez-cette-valeur-en-production"
WEB_URL="http://localhost:3001"
HOTELS_URL="http://localhost:4102"
TRANSPORT_URL="http://localhost:4104"
HOLD_MINUTES=15
SERVICE_SECRET="reserva-service-dev"
